<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="4" data-provider-thread-count="2">
    <test name="SeleniumAutomationFramework">
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="loginUserTest"/>
                    <include name="invalidLoginTest"/>
                    <include name="invalidLoginTestFromJson"/>
                    <include name="lombokTest"/>
                </methods>
            </class>
            <class name="tests.RegisterTest">
                <methods>
                    <include name="registerTest"/>
                    <include name="registerTest2"/>
                    <include name="registerTest3"/>
                    <include name="negativeRegisterTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>